# IS 362 - Final Project: GIS + SQLite

To begin, I will import the pandas module and additional modules.

In [1]:
import pandas as pd
import sqlite3

from pandas import DataFrame
from sqlite3 import Error

Add the SQLite connection statement.

In [2]:
db = sqlite3.connect("data/nyc_gdb_jan2018.sqlite")

Then create the SQL query and execute.

In [15]:
sql = '''PRAGMA  table_info  (a_boroughs)'''
pd.read_sql(sql, db)

   cid      name          type  notnull dflt_value  pk
0    0     bcode          TEXT        1       None   1
1    1     bname          TEXT        0       None   0
2    2      name          TEXT        0       None   0
3    3  namelsad          TEXT        0       None   0
4    4  geometry  MULTIPOLYGON        0       None   0

In [16]:
sql = '''SELECT
        *
        FROM a_boroughs'''
pd.read_sql(sql, db)

,bcode,bname,name,namelsad,geometry
0,36005,Bronx,Bronx,Bronx County,"[ , , �, ,  ,  , L, �, J, �, l, �, ., A, �, ..."
1,36047,Brooklyn,Kings,Kings County,"[ , , �, ,  ,  , , +, �, �, L, �, -, A, , ..."
2,36061,Manhattan,New York,New York County,"[ , , �, ,  ,  , �, }, c, �, , �, -, A, Q, ..."
3,36081,Queens,Queens,Queens County,"[ , , �, ,  ,  , , �, , �, 3, Z, ., A, Z, ..."
4,36085,Staten Island,Richmond,Richmond County,"[ , , �, ,  ,  , �, �, 7, a, �, �, +, A, $, ..."

In [17]:
sql = '''SELECT  geoid,
         geoid2, 
         geolabel,
         HD01_S001
         AS  pop2010
         FROM  b_zctas_2010census
         ORDER  BY  pop2010 DESC'''
pd.read_sql(sql, db)

              GEOID GEOID2     GEOLABEL  pop2010
0    8600000US11368  11368  ZCTA5 11368   109931
1    8600000US11226  11226  ZCTA5 11226   101572
2    8600000US11373  11373  ZCTA5 11373   100820
3    8600000US11220  11220  ZCTA5 11220    99598
4    8600000US11385  11385  ZCTA5 11385    98592
5    8600000US10467  10467  ZCTA5 10467    97060
6    8600000US10025  10025  ZCTA5 10025    94600
7    8600000US11208  11208  ZCTA5 11208    94469
8    8600000US11236  11236  ZCTA5 11236    93877
9    8600000US11207  11207  ZCTA5 11207    93386
10   8600000US11219  11219  ZCTA5 11219    92221
11   8600000US11211  11211  ZCTA5 11211    90117
12   8600000US11377  11377  ZCTA5 11377    89830
13   8600000US11214  11214  ZCTA5 11214    88630
14   8600000US11234  11234  ZCTA5 11234    87757
15   8600000US10456  10456  ZCTA5 10456    86547
16   8600000US11230  11230  ZCTA5 11230    86408
17   8600000US11355  11355  ZCTA5 11355    85871
18   8600000US10314  10314  ZCTA5 10314    85510
19   8600000US11212  11212  ZCTA5 11212    84500
20   8600000US11206  11206  ZCTA5 11206    81677
21   8600000US10002  10002  ZCTA5 10002    81410
22   8600000US11229  11229  ZCTA5 11229    80018
23   8600000US10458  10458  ZCTA5 10458    79492
24   8600000US11235  11235  ZCTA5 11235    79132
25   8600000US11221  11221  ZCTA5 11221    78895
26   8600000US11223  11223  ZCTA5 11223    78731
27   8600000US10453  10453  ZCTA5 10453    78309
28   8600000US11204  11204  ZCTA5 11204    78134
29   8600000US11203  11203  ZCTA5 11203    76174
..              ...    ...          ...      ...
184  8600000US10199  10199  ZCTA5 10199        9
185  8600000US10103  10103  ZCTA5 10103        3
186  8600000US10165  10165  ZCTA5 10165        2
187  8600000US10170  10170  ZCTA5 10170        2
188  8600000US10173  10173  ZCTA5 10173        2
189  8600000US10020  10020  ZCTA5 10020        0
190  8600000US10110  10110  ZCTA5 10110        0
191  8600000US10111  10111  ZCTA5 10111        0
192  8600000US10112  10112  ZCTA5 10112        0
193  8600000US10115  10115  ZCTA5 10115        0
194  8600000US10152  10152  ZCTA5 10152        0
195  8600000US10153  10153  ZCTA5 10153        0
196  8600000US10154  10154  ZCTA5 10154        0
197  8600000US10167  10167  ZCTA5 10167        0
198  8600000US10168  10168  ZCTA5 10168        0
199  8600000US10169  10169  ZCTA5 10169        0
200  8600000US10171  10171  ZCTA5 10171        0
201  8600000US10172  10172  ZCTA5 10172        0
202  8600000US10174  10174  ZCTA5 10174        0
203  8600000US10177  10177  ZCTA5 10177        0
204  8600000US10271  10271  ZCTA5 10271        0
205  8600000US10278  10278  ZCTA5 10278        0
206  8600000US10279  10279  ZCTA5 10279        0
207  8600000US10311  10311  ZCTA5 10311        0
208  8600000US11351  11351  ZCTA5 11351        0
209  8600000US11359  11359  ZCTA5 11359        0
210  8600000US11371  11371  ZCTA5 11371        0
211  8600000US11424  11424  ZCTA5 11424        0
212  8600000US11425  11425  ZCTA5 11425        0
213  8600000US11451  11451  ZCTA5 11451        0

[214 rows x 4 columns]

In [14]:
sql = '''SELECT  zcta,
         bcode, 
         HD01_S001
         AS  pop2010
         FROM  a_zctas, b_zctas_2010census
         WHERE  zcta=geoid2  AND  bcode="36061" AND  pop2010 > 200
         ORDER  BY  pop2010'''
pd.read_sql(sql, db)

     zcta  bcode  pop2010
0   10162  36061     1685
1   10006  36061     3011
2   10004  36061     3089
3   10282  36061     4783
4   10069  36061     5199
5   10018  36061     5229
6   10007  36061     6988
7   10005  36061     7135
8   10280  36061     7853
9   10044  36061    11661
10  10017  36061    16575
11  10037  36061    17416
12  10038  36061    20300
13  10001  36061    21102
14  10012  36061    24090
15  10039  36061    24527
16  10036  36061    24711
17  10075  36061    26121
18  10030  36061    26999
19  10013  36061    27700
20  10010  36061    31834
21  10022  36061    31924
22  10014  36061    31959
23  10065  36061    32270
24  10035  36061    33969
25  10026  36061    34003
26  10034  36061    38908
27  10040  36061    41905
28  10019  36061    42870
29  10021  36061    43631
30  10028  36061    45141
31  10011  36061    50984
32  10033  36061    53926
33  10016  36061    54183
34  10003  36061    56024
35  10031  36061    56438
36  10032  36061    57331
37  10024  36061    59283
38  10027  36061    59707
39  10128  36061    60453
40  10023  36061    60998
41  10009  36061    61347
42  10029  36061    76003
43  10002  36061    81410
44  10025  36061    94600

In [9]:
sql = '''SELECT  *
FROM  spatial_ref_sys
WHERE  srid = 4269'''
pd.read_sql(sql, db).head()

,srid,auth_name,auth_srid,ref_sys_name,proj4text,srtext
0,4269,epsg,4269,NAD83,+proj=longlat +ellps=GRS80 +datum=NAD83 +no_defs,"GEOGCS[""NAD83"",DATUM[""North_American_Datum_198..."

In [26]:
sql = '''SELECT *
         FROM b_2010census_lookup
         WHERE count_name LIKE ('%SEX AND AGE - Total population%')'''
pd.read_sql(sql, db)

,count_id,count_name,pct_id,pct_name
0,HD01_S001,Number; SEX AND AGE - Total population,HD02_S001,Percent; SEX AND AGE - Total population\r
1,HD01_S002,Number; SEX AND AGE - Total population - Under...,HD02_S002,Percent; SEX AND AGE - Total population - Unde...
2,HD01_S003,Number; SEX AND AGE - Total population - 5 to ...,HD02_S003,Percent; SEX AND AGE - Total population - 5 to...
3,HD01_S004,Number; SEX AND AGE - Total population - 10 to...,HD02_S004,Percent; SEX AND AGE - Total population - 10 t...
4,HD01_S005,Number; SEX AND AGE - Total population - 15 to...,HD02_S005,Percent; SEX AND AGE - Total population - 15 t...
5,HD01_S006,Number; SEX AND AGE - Total population - 20 to...,HD02_S006,Percent; SEX AND AGE - Total population - 20 t...
6,HD01_S007,Number; SEX AND AGE - Total population - 25 to...,HD02_S007,Percent; SEX AND AGE - Total population - 25 t...
7,HD01_S008,Number; SEX AND AGE - Total population - 30 to...,HD02_S008,Percent; SEX AND AGE - Total population - 30 t...
8,HD01_S009,Number; SEX AND AGE - Total population - 35 to...,HD02_S009,Percent; SEX AND AGE - Total population - 35 t...
9,HD01_S010,Number; SEX AND AGE - Total population - 40 to...,HD02_S010,Percent; SEX AND AGE - Total population - 40 t...
10,HD01_S011,Number; SEX AND AGE - Total population - 45 to...,HD02_S011,Percent; SEX AND AGE - Total population - 45 t...
11,HD01_S012,Number; SEX AND AGE - Total population - 50 to...,HD02_S012,Percent; SEX AND AGE - Total population - 50 t...
12,HD01_S013,Number; SEX AND AGE - Total population - 55 to...,HD02_S013,Percent; SEX AND AGE - Total population - 55 t...
13,HD01_S014,Number; SEX AND AGE - Total population - 60 to...,HD02_S014,Percent; SEX AND AGE - Total population - 60 t...
14,HD01_S015,Number; SEX AND AGE - Total population - 65 to...,HD02_S015,Percent; SEX AND AGE - Total population - 65 t...
15,HD01_S016,Number; SEX AND AGE - Total population - 70 to...,HD02_S016,Percent; SEX AND AGE - Total population - 70 t...
16,HD01_S017,Number; SEX AND AGE - Total population - 75 to...,HD02_S017,Percent; SEX AND AGE - Total population - 75 t...
17,HD01_S018,Number; SEX AND AGE - Total population - 80 to...,HD02_S018,Percent; SEX AND AGE - Total population - 80 t...
18,HD01_S019,Number; SEX AND AGE - Total population - 85 ye...,HD02_S019,Percent; SEX AND AGE - Total population - 85 y...
19,HD01_S020,Number; SEX AND AGE - Total population - Media...,HD02_S020,Percent; SEX AND AGE - Total population - Medi...
20,HD01_S021,Number; SEX AND AGE - Total population - 16 ye...,HD02_S021,Percent; SEX AND AGE - Total population - 16 y...
21,HD01_S022,Number; SEX AND AGE - Total population - 18 ye...,HD02_S022,Percent; SEX AND AGE - Total population - 18 y...
22,HD01_S023,Number; SEX AND AGE - Total population - 21 ye...,HD02_S023,Percent; SEX AND AGE - Total population - 21 y...
23,HD01_S024,Number; SEX AND AGE - Total population - 62 ye...,HD02_S024,Percent; SEX AND AGE - Total population - 62 y...
24,HD01_S025,Number; SEX AND AGE - Total population - 65 ye...,HD02_S025,Percent; SEX AND AGE - Total population - 65 y...

In [25]:
sql = '''SELECT count_id,
         count_name
         FROM b_2010census_lookup
         WHERE count_name LIKE ('%SEX AND AGE - Total population%')'''
pd.read_sql(sql, db)

     count_id                                         count_name
0   HD01_S001             Number; SEX AND AGE - Total population
1   HD01_S002  Number; SEX AND AGE - Total population - Under...
2   HD01_S003  Number; SEX AND AGE - Total population - 5 to ...
3   HD01_S004  Number; SEX AND AGE - Total population - 10 to...
4   HD01_S005  Number; SEX AND AGE - Total population - 15 to...
5   HD01_S006  Number; SEX AND AGE - Total population - 20 to...
6   HD01_S007  Number; SEX AND AGE - Total population - 25 to...
7   HD01_S008  Number; SEX AND AGE - Total population - 30 to...
8   HD01_S009  Number; SEX AND AGE - Total population - 35 to...
9   HD01_S010  Number; SEX AND AGE - Total population - 40 to...
10  HD01_S011  Number; SEX AND AGE - Total population - 45 to...
11  HD01_S012  Number; SEX AND AGE - Total population - 50 to...
12  HD01_S013  Number; SEX AND AGE - Total population - 55 to...
13  HD01_S014  Number; SEX AND AGE - Total population - 60 to...
14  HD01_S015  Number; SEX AND AGE - Total population - 65 to...
15  HD01_S016  Number; SEX AND AGE - Total population - 70 to...
16  HD01_S017  Number; SEX AND AGE - Total population - 75 to...
17  HD01_S018  Number; SEX AND AGE - Total population - 80 to...
18  HD01_S019  Number; SEX AND AGE - Total population - 85 ye...
19  HD01_S020  Number; SEX AND AGE - Total population - Media...
20  HD01_S021  Number; SEX AND AGE - Total population - 16 ye...
21  HD01_S022  Number; SEX AND AGE - Total population - 18 ye...
22  HD01_S023  Number; SEX AND AGE - Total population - 21 ye...
23  HD01_S024  Number; SEX AND AGE - Total population - 62 ye...
24  HD01_S025  Number; SEX AND AGE - Total population - 65 ye...

Let's look for population by age group, average age, etc.

In [13]:
sql = '''SELECT *
         FROM b_2010census_lookup'''
pd.read_sql(sql, db)

,count_id,count_name,pct_id,pct_name
0,GEOID,Id,GEOID,Id\r
1,GEOID2,Id2,GEOID2,Id2\r
2,GEOLABEL,Geography,GEOLABEL,Geography\r
3,HD01_S001,Number; SEX AND AGE - Total population,HD02_S001,Percent; SEX AND AGE - Total population\r
4,HD01_S002,Number; SEX AND AGE - Total population - Under...,HD02_S002,Percent; SEX AND AGE - Total population - Unde...
5,HD01_S003,Number; SEX AND AGE - Total population - 5 to ...,HD02_S003,Percent; SEX AND AGE - Total population - 5 to...
6,HD01_S004,Number; SEX AND AGE - Total population - 10 to...,HD02_S004,Percent; SEX AND AGE - Total population - 10 t...
7,HD01_S005,Number; SEX AND AGE - Total population - 15 to...,HD02_S005,Percent; SEX AND AGE - Total population - 15 t...
8,HD01_S006,Number; SEX AND AGE - Total population - 20 to...,HD02_S006,Percent; SEX AND AGE - Total population - 20 t...
9,HD01_S007,Number; SEX AND AGE - Total population - 25 to...,HD02_S007,Percent; SEX AND AGE - Total population - 25 t...
10,HD01_S008,Number; SEX AND AGE - Total population - 30 to...,HD02_S008,Percent; SEX AND AGE - Total population - 30 t...
11,HD01_S009,Number; SEX AND AGE - Total population - 35 to...,HD02_S009,Percent; SEX AND AGE - Total population - 35 t...
12,HD01_S010,Number; SEX AND AGE - Total population - 40 to...,HD02_S010,Percent; SEX AND AGE - Total population - 40 t...
13,HD01_S011,Number; SEX AND AGE - Total population - 45 to...,HD02_S011,Percent; SEX AND AGE - Total population - 45 t...
14,HD01_S012,Number; SEX AND AGE - Total population - 50 to...,HD02_S012,Percent; SEX AND AGE - Total population - 50 t...
15,HD01_S013,Number; SEX AND AGE - Total population - 55 to...,HD02_S013,Percent; SEX AND AGE - Total population - 55 t...
16,HD01_S014,Number; SEX AND AGE - Total population - 60 to...,HD02_S014,Percent; SEX AND AGE - Total population - 60 t...
17,HD01_S015,Number; SEX AND AGE - Total population - 65 to...,HD02_S015,Percent; SEX AND AGE - Total population - 65 t...
18,HD01_S016,Number; SEX AND AGE - Total population - 70 to...,HD02_S016,Percent; SEX AND AGE - Total population - 70 t...
19,HD01_S017,Number; SEX AND AGE - Total population - 75 to...,HD02_S017,Percent; SEX AND AGE - Total population - 75 t...
20,HD01_S018,Number; SEX AND AGE - Total population - 80 to...,HD02_S018,Percent; SEX AND AGE - Total population - 80 t...
21,HD01_S019,Number; SEX AND AGE - Total population - 85 ye...,HD02_S019,Percent; SEX AND AGE - Total population - 85 y...
22,HD01_S020,Number; SEX AND AGE - Total population - Media...,HD02_S020,Percent; SEX AND AGE - Total population - Medi...
23,HD01_S021,Number; SEX AND AGE - Total population - 16 ye...,HD02_S021,Percent; SEX AND AGE - Total population - 16 y...
24,HD01_S022,Number; SEX AND AGE - Total population - 18 ye...,HD02_S022,Percent; SEX AND AGE - Total population - 18 y...
25,HD01_S023,Number; SEX AND AGE - Total population - 21 ye...,HD02_S023,Percent; SEX AND AGE - Total population - 21 y...
26,HD01_S024,Number; SEX AND AGE - Total population - 62 ye...,HD02_S024,Percent; SEX AND AGE - Total population - 62 y...
27,HD01_S025,Number; SEX AND AGE - Total population - 65 ye...,HD02_S025,Percent; SEX AND AGE - Total population - 65 y...
28,HD01_S026,Number; SEX AND AGE - Male population,HD02_S026,Percent; SEX AND AGE - Male population\r
29,HD01_S027,Number; SEX AND AGE - Male population - Under ...,HD02_S027,Percent; SEX AND AGE - Male population - Under...
...,...,...,...,...
159,HD01_S157,Number; HOUSEHOLDS BY TYPE - Total households ...,HD02_S157,Percent; HOUSEHOLDS BY TYPE - Total households...
160,HD01_S158,Number; HOUSEHOLDS BY TYPE - Total households ...,HD02_S158,Percent; HOUSEHOLDS BY TYPE - Total households...
161,HD01_S159,Number; HOUSEHOLDS BY TYPE - Total households ...,HD02_S159,Percent; HOUSEHOLDS BY TYPE - Total households...
162,HD01_S160,Number; HOUSEHOLDS BY TYPE - Total households ...,HD02_S160,Percent; HOUSEHOLDS BY TYPE - Total households...
163,HD01_S161,Number; HOUSEHOLDS BY TYPE - Total households ...,HD02_S161,Percent; HOUSEHOLDS BY TYPE - Total households...
164,HD01_S162,Number; HOUSEHOLDS BY TYPE - Total households ...,HD02_S162,Percent; HOUSEHOLDS BY TYPE - Total households...
165,HD01_S163,Number; HOUSEHOLDS BY TYPE - Total households ...,HD02_S163,Percent; HOUSEHOLDS BY TYPE - Total households...
166,HD01_S164,Number; HOUSEHOLDS BY TYPE - Total households ...,HD02_S164,Percent; HOUSEHOLDS BY TYPE - Total households...
167,HD01_S165,Number; HOUSEHOLDS BY TYPE - Total households ...,HD02_S165,Percent; HOUSEHOLDS BY TYPE - Total households...
168,HD01_S166,Number; HOUSEHOLDS BY TYPE - Total households ...,HD02_S166,Percent; HOUSEHOLDS BY TYPE - Total households...
169,HD01_S167,Number; HOUSEHOLDS BY TYPE - Total households ...,HD02_S167,Percent; HOUSEHOLDS BY TYPE - Total households...
170,HD01_S168,Number; HOUSEHOLDS BY TYPE - Total households ...,HD02_S168,Percent; HOUSEHOLDS BY TYPE - Total households...
171,HD01_S169,Number; HOUSING OCCUPANCY - Total housing units,HD02_S169,Percent; HOUSING OCCUPANCY - Total housing uni...
172,HD01_S170,Number; HOUSING OCCUPANCY - Total housing unit...,HD02_S170,Percent; HOUSING OCCUPANCY - Total housing uni...
173,HD01_S171,Number; HOUSING OCCUPANCY - Total housing unit...,HD02_S171,Percent; HOUSING OCCUPANCY - Total housing uni...
174,HD01_S172,Number; HOUSING OCCUPANCY - Total housing unit...,HD02_S172,Percent; HOUSING OCCUPANCY - Total housing uni...
175,HD01_S173,Number; HOUSING OCCUPANCY - Total housing unit...,HD02_S173,Percent; HOUSING OCCUPANCY - Total housing uni...
176,HD01_S174,Number; HOUSING OCCUPANCY - Total housing unit...,HD02_S174,Percent; HOUSING OCCUPANCY - Total housing uni...
177,HD01_S175,Number; HOUSING OCCUPANCY - Total housing unit...,HD02_S175,Percent; HOUSING OCCUPANCY - Total housing uni...
178,HD01_S176,Number; HOUSING OCCUPANCY - Total housing unit...,HD02_S176,Percent; HOUSING OCCUPANCY - Total housing uni...
179,HD01_S177,Number; HOUSING OCCUPANCY - Total housing unit...,HD02_S177,Percent; HOUSING OCCUPANCY - Total housing uni...
180,HD01_S178,Number; HOUSING OCCUPANCY - Total housing unit...,HD02_S178,Percent; HOUSING OCCUPANCY - Total housing uni...
181,HD01_S179,Number; HOUSING OCCUPANCY - Total housing unit...,HD02_S179,Percent; HOUSING OCCUPANCY - Total housing uni...
182,HD01_S180,Number; HOUSING TENURE - Occupied housing units,HD02_S180,Percent; HOUSING TENURE - Occupied housing uni...
183,HD01_S181,Number; HOUSING TENURE - Occupied housing unit...,HD02_S181,Percent; HOUSING TENURE - Occupied housing uni...
184,HD01_S182,Number; HOUSING TENURE - Occupied housing unit...,HD02_S182,Percent; HOUSING TENURE - Occupied housing uni...
185,HD01_S183,Number; HOUSING TENURE - Occupied housing unit...,HD02_S183,Percent; HOUSING TENURE - Occupied housing uni...
186,HD01_S184,Number; HOUSING TENURE - Occupied housing unit...,HD02_S184,Percent; HOUSING TENURE - Occupied housing uni...
187,HD01_S185,Number; HOUSING TENURE - Occupied housing unit...,HD02_S185,Percent; HOUSING TENURE - Occupied housing uni...
188,HD01_S186,Number; HOUSING TENURE - Occupied housing unit...,HD02_S186,Percent; HOUSING TENURE - Occupied housing uni...

In [18]:
sql = '''SELECT *
         FROM b_tracts_2010census'''
pd.read_sql(sql, db)

,GEOID,GEOID2,GEOLABEL,HD01_S001,HD01_S002,HD01_S003,HD01_S004,HD01_S005,HD01_S006,HD01_S007,...,HD01_S177,HD01_S178,HD01_S179,HD01_S180,HD01_S181,HD01_S182,HD01_S183,HD01_S184,HD01_S185,HD01_S186
0,1400000US36005000100,36005000100,"Census Tract 1, Bronx County, New York",11091,0,0,0,1215,2208,1709,...,0,0.0,0.0,0,0,0,0.00,0,0,0.00
1,1400000US36005000200,36005000200,"Census Tract 2, Bronx County, New York",4334,306,313,364,349,280,336,...,26,1.6,6.5,1351,716,2438,3.41,635,1891,2.98
2,1400000US36005000400,36005000400,"Census Tract 4, Bronx County, New York",5503,372,405,425,539,381,284,...,16,2.4,6.6,1786,1171,3590,3.07,615,1901,3.09
3,1400000US36005001600,36005001600,"Census Tract 16, Bronx County, New York",5643,402,394,450,469,422,342,...,5,2.8,3.6,1925,308,1035,3.36,1617,4366,2.70
4,1400000US36005001900,36005001900,"Census Tract 19, Bronx County, New York",1917,202,127,90,120,169,219,...,14,0.0,7.0,550,45,183,4.07,505,1234,2.44
5,1400000US36005002000,36005002000,"Census Tract 20, Bronx County, New York",8731,580,630,814,941,763,542,...,20,4.1,2.3,3019,401,1374,3.43,2618,7357,2.81
6,1400000US36005002300,36005002300,"Census Tract 23, Bronx County, New York",4933,371,451,462,492,411,327,...,0,0.0,0.5,1774,11,33,3.00,1763,4896,2.78
7,1400000US36005002400,36005002400,"Census Tract 24, Bronx County, New York",4,0,0,0,0,1,1,...,0,100.0,0.0,1,0,0,0.00,1,4,4.00
8,1400000US36005002500,36005002500,"Census Tract 25, Bronx County, New York",5491,459,428,447,507,514,427,...,30,15.1,5.7,1824,44,146,3.32,1780,5345,3.00
9,1400000US36005002701,36005002701,"Census Tract 27.01, Bronx County, New York",3113,283,255,280,337,280,209,...,5,0.0,2.6,1042,3,8,2.67,1039,3105,2.99
10,1400000US36005002702,36005002702,"Census Tract 27.02, Bronx County, New York",4475,413,422,440,477,415,338,...,13,0.0,6.0,1290,75,254,3.39,1215,3976,3.27
11,1400000US36005002800,36005002800,"Census Tract 28, Bronx County, New York",5586,272,353,325,439,406,310,...,11,2.7,2.0,2342,254,690,2.72,2088,4888,2.34
12,1400000US36005003100,36005003100,"Census Tract 31, Bronx County, New York",1597,165,129,104,156,125,112,...,7,13.7,4.0,513,82,215,2.62,431,1382,3.21
13,1400000US36005003300,36005003300,"Census Tract 33, Bronx County, New York",3413,284,291,309,342,355,240,...,20,0.0,6.8,1092,115,411,3.57,977,3002,3.07
14,1400000US36005003500,36005003500,"Census Tract 35, Bronx County, New York",3761,300,296,256,352,360,332,...,3,4.1,5.5,1274,47,163,3.47,1227,3567,2.91
15,1400000US36005003700,36005003700,"Census Tract 37, Bronx County, New York",245,21,11,20,23,11,18,...,0,0.0,16.3,111,1,1,1.00,110,243,2.21
16,1400000US36005003800,36005003800,"Census Tract 38, Bronx County, New York",1264,82,92,94,123,126,107,...,0,0.8,4.0,414,127,453,3.57,287,811,2.83
17,1400000US36005003900,36005003900,"Census Tract 39, Bronx County, New York",6475,547,503,436,556,612,599,...,68,0.0,4.9,1986,159,519,3.26,1827,5724,3.13
18,1400000US36005004001,36005004001,"Census Tract 40.01, Bronx County, New York",1420,85,94,97,82,96,72,...,6,5.2,5.6,536,236,680,2.88,300,740,2.47
19,1400000US36005004100,36005004100,"Census Tract 41, Bronx County, New York",6127,492,494,514,627,566,434,...,22,15.7,3.6,1970,107,407,3.80,1863,5692,3.06
20,1400000US36005004200,36005004200,"Census Tract 42, Bronx County, New York",7143,469,481,564,645,527,483,...,4,0.0,1.5,2719,318,785,2.47,2401,6358,2.65
21,1400000US36005004300,36005004300,"Census Tract 43, Bronx County, New York",5056,371,402,376,472,454,427,...,25,0.0,12.7,1605,197,725,3.68,1408,4252,3.02
22,1400000US36005004400,36005004400,"Census Tract 44, Bronx County, New York",4797,320,298,447,510,408,256,...,2,2.8,1.0,1662,70,235,3.36,1592,4367,2.74
23,1400000US36005004600,36005004600,"Census Tract 46, Bronx County, New York",1555,106,118,107,129,106,131,...,0,9.7,2.2,621,140,323,2.31,481,1232,2.56
24,1400000US36005004800,36005004800,"Census Tract 48, Bronx County, New York",3883,340,288,281,316,378,389,...,2,4.5,4.2,1327,106,292,2.75,1221,3581,2.93
25,1400000US36005005001,36005005001,"Census Tract 50.01, Bronx County, New York",4767,443,454,411,406,397,410,...,6,2.4,5.9,1487,162,522,3.22,1325,4106,3.10
26,1400000US36005005002,36005005002,"Census Tract 50.02, Bronx County, New York",5823,547,456,414,468,549,557,...,16,2.2,9.5,1783,91,261,2.87,1692,5346,3.16
27,1400000US36005005100,36005005100,"Census Tract 51, Bronx County, New York",5810,425,442,509,707,515,407,...,4,0.0,1.3,1960,24,71,2.96,1936,5700,2.94
28,1400000US36005005200,36005005200,"Census Tract 52, Bronx County, New York",2031,155,151,156,173,158,161,...,1,0.0,2.5,775,62,202,3.26,713,1829,2.57
29,1400000US36005005300,36005005300,"Census Tract 53, Bronx County, New York",4669,490,433,396,467,443,336,...,4,0.0,13.0,1656,17,54,3.18,1639,4615,2.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2138,1400000US36085020801,36085020801,"Census Tract 208.01, Richmond County, New York",8977,566,617,617,580,632,586,...,54,1.8,6.1,3150,2403,7384,3.07,747,1581,2.12
2139,1400000US36085020803,36085020803,"Census Tract 208.03, Richmond County, New York",6463,413,496,464,427,390,401,...,62,3.0,3.8,2192,1592,5159,3.24,600,1304,2.17
2140,1400000US36085020804,36085020804,"Census Tract 208.04, Richmond County, New York",5323,266,317,293,333,365,315,...,35,1.0,8.1,1927,1473,4471,3.04,454,845,1.86
2141,1400000US36085021300,36085021300,"Census Tract 213, Richmond County, New York",5376,407,404,404,500,425,433,...,38,2.2,5.1,1584,887,2855,3.22,697,2457,3.53
2142,1400000US36085022300,36085022300,"Census Tract 223, Richmond County, New York",2880,241,228,263,254,251,182,...,39,2.5,8.7,845,509,1664,3.27,336,1204,3.58
2143,1400000US36085022600,36085022600,"Census Tract 226, Richmond County, New York",8490,531,612,509,515,517,545,...,76,0.9,5.8,2627,1915,6118,3.19,712,1424,2.00
2144,1400000US36085022800,36085022800,"Census Tract 228, Richmond County, New York",105,9,20,14,9,3,4,...,0,8.3,4.5,32,11,41,3.73,21,64,3.05
2145,1400000US36085023100,36085023100,"Census Tract 231, Richmond County, New York",4683,328,355,413,407,328,297,...,44,1.6,3.5,1429,847,2912,3.44,582,1742,2.99
2146,1400000US36085023900,36085023900,"Census Tract 239, Richmond County, New York",3250,242,246,261,286,217,230,...,39,1.0,5.8,1008,592,1928,3.26,416,1306,3.14
2147,1400000US36085024401,36085024401,"Census Tract 244.01, Richmond County, New York",5823,326,457,451,416,371,308,...,60,1.3,7.3,2005,1449,4757,3.28,556,1056,1.90
2148,1400000US36085024402,36085024402,"Census Tract 244.02, Richmond County, New York",4259,224,280,338,325,262,240,...,68,2.2,12.2,1530,1162,3629,3.12,368,624,1.70
2149,1400000US36085024700,36085024700,"Census Tract 247, Richmond County, New York",2702,199,166,172,199,230,182,...,19,1.1,3.0,948,462,1406,3.04,486,1285,2.64
2150,1400000US36085024800,36085024800,"Census Tract 248, Richmond County, New York",4741,291,380,376,337,292,292,...,61,1.8,9.1,1634,1058,3385,3.20,576,1339,2.32
2151,1400000US36085025100,36085025100,"Census Tract 251, Richmond County, New York",5714,311,333,335,339,326,342,...,54,0.9,4.3,2103,1609,4613,2.87,494,1101,2.23
2152,1400000US36085027301,36085027301,"Census Tract 273.01, Richmond County, New York",3820,188,186,167,222,219,266,...,37,0.5,5.3,1489,1098,2953,2.69,391,751,1.92
2153,1400000US36085027302,36085027302,"Census Tract 273.02, Richmond County, New York",3667,286,251,247,245,236,250,...,56,0.5,6.7,1205,806,2586,3.21,399,1054,2.64
2154,1400000US36085027702,36085027702,"Census Tract 277.02, Richmond County, New York",6193,305,258,322,334,324,420,...,41,0.8,4.8,2847,1892,4177,2.21,955,2006,2.10
2155,1400000US36085027704,36085027704,"Census Tract 277.04, Richmond County, New York",4108,230,208,250,286,285,284,...,117,1.5,6.3,1406,962,3064,3.19,444,1044,2.35
2156,1400000US36085027705,36085027705,"Census Tract 277.05, Richmond County, New York",5351,306,315,314,366,402,365,...,138,1.3,3.9,1810,1176,3826,3.25,634,1525,2.41
2157,1400000US36085027706,36085027706,"Census Tract 277.06, Richmond County, New York",2950,179,168,162,205,181,209,...,29,1.9,10.4,1092,687,2016,2.93,405,934,2.31
2158,1400000US36085027900,36085027900,"Census Tract 279, Richmond County, New York",2137,79,112,108,116,83,77,...,17,0.9,2.5,696,543,1523,2.80,153,242,1.58
2159,1400000US36085029102,36085029102,"Census Tract 291.02, Richmond County, New York",2953,206,201,199,217,175,219,...,16,0.4,3.6,980,767,2368,3.09,213,578,2.71
2160,1400000US36085029103,36085029103,"Census Tract 291.03, Richmond County, New York",7245,366,401,418,455,497,494,...,78,0.6,5.5,2653,1735,5179,2.99,918,2057,2.24
2161,1400000US36085029104,36085029104,"Census Tract 291.04, Richmond County, New York",6735,398,395,437,458,456,434,...,63,0.7,5.8,2290,1686,5164,3.06,604,1554,2.57
2162,1400000US36085030301,36085030301,"Census Tract 303.01, Richmond County, New York",4929,332,334,296,328,364,334,...,44,0.7,2.8,1749,1043,3140,3.01,706,1783,2.53
2163,1400000US36085030302,36085030302,"Census Tract 303.02, Richmond County, New York",6369,415,468,502,548,504,440,...,42,0.7,4.8,1939,1366,4420,3.24,573,1949,3.40
2164,1400000US36085031901,36085031901,"Census Tract 319.01, Richmond County, New York",3265,231,289,339,357,297,219,...,15,4.5,1.5,1061,254,855,3.37,807,2410,2.99
2165,1400000US36085031902,36085031902,"Census Tract 319.02, Richmond County, New York",4848,481,410,474,421,394,399,...,30,2.1,9.4,1581,636,2132,3.35,945,2700,2.86
2166,1400000US36085032300,36085032300,"Census Tract 323, Richmond County, New York",1250,87,80,83,93,87,97,...,5,2.3,6.2,448,297,826,2.78,151,423,2.80
2167,1400000US36085990100,36085990100,"Census Tract 9901, Richmond County, New York",0,0,0,0,0,0,0,...,0,0.0,0.0,0,0,0,0.00,0,0,0.00

In [20]:
sql = '''SELECT *
         FROM b_pumas_2016acs1'''
pd.read_sql(sql, db)

,GEOID,GEOID2,GEOLABEL,HSHD01_E,HSHD01_M,HSHD01_PC,HSHD01_PM,HSHD02_E,HSHD02_M,HSHD02_PC,...,INC11_PC,INC11_PM,INC12_E,INC12_M,INC12_PC,INC12_PM,INC13_E,INC13_M,INC13_PC,INC13_PM
0,7950000US3603701,3603701,"NYC-Bronx Community District 8--Riverdale, Fie...",41718,576,41718,None,25474,717,61.1,...,6.4,0.7,58409,2483,None,None,81929,2730,None,None
1,7950000US3603702,3603702,"NYC-Bronx Community District 12--Wakefield, Wi...",47817,559,47817,None,33327,779,69.7,...,2.2,0.4,47168,2147,None,None,61428,1583,None,None
2,7950000US3603703,3603703,"NYC-Bronx Community District 10--Co-op City, P...",47134,620,47134,None,28880,925,61.3,...,3.7,0.7,56627,3582,None,None,72072,2187,None,None
3,7950000US3603704,3603704,NYC-Bronx Community District 11--Pelham Parkwa...,43954,462,43954,None,29845,724,67.9,...,2.8,0.4,47655,2062,None,None,62896,1942,None,None
4,7950000US3603705,3603705,"NYC-Bronx Community District 3 & 6--Belmont, C...",56633,505,56633,None,37363,834,66.0,...,0.6,0.2,23710,1053,None,None,36166,1483,None,None
5,7950000US3603706,3603706,"NYC-Bronx Community District 7--Bedford Park, ...",44909,455,44909,None,28854,725,64.2,...,1.1,0.3,32732,1727,None,None,45846,1893,None,None
6,7950000US3603707,3603707,NYC-Bronx Community District 5--Morris Heights...,45137,401,45137,None,30572,683,67.7,...,0.7,0.3,24436,1210,None,None,36585,1431,None,None
7,7950000US3603708,3603708,"NYC-Bronx Community District 4--Concourse, Hig...",48517,473,48517,None,31182,707,64.3,...,0.9,0.3,27102,893,None,None,40414,1619,None,None
8,7950000US3603709,3603709,"NYC-Bronx Community District 9--Castle Hill, C...",64663,437,64663,None,43279,849,66.9,...,1.1,0.3,36440,1022,None,None,49706,1042,None,None
9,7950000US3603710,3603710,NYC-Bronx Community District 1 & 2--Hunts Poin...,50258,527,50258,None,33811,671,67.3,...,0.9,0.3,23131,950,None,None,35735,1510,None,None
10,7950000US3603801,3603801,NYC-Manhattan Community District 12--Washingto...,74200,938,74200,None,41732,1107,56.2,...,3.1,0.4,43307,1859,None,None,60075,1392,None,None
11,7950000US3603802,3603802,NYC-Manhattan Community District 9--Hamilton H...,46786,795,46786,None,22439,896,48.0,...,7.9,0.9,45765,3881,None,None,78889,3173,None,None
12,7950000US3603803,3603803,NYC-Manhattan Community District 10--Central H...,54260,779,54260,None,26366,880,48.6,...,5.4,0.7,40816,1817,None,None,68585,3083,None,None
13,7950000US3603804,3603804,NYC-Manhattan Community District 11--East Harl...,47970,623,47970,None,25470,906,53.1,...,4.6,0.5,31628,1731,None,None,60498,2552,None,None
14,7950000US3603805,3603805,NYC-Manhattan Community District 8--Upper East...,116823,1760,116823,None,48764,1809,41.7,...,28.6,1.3,109111,4916,None,None,196031,6808,None,None
15,7950000US3603806,3603806,NYC-Manhattan Community District 7--Upper West...,98331,1570,98331,None,41260,1335,42.0,...,26.8,1.0,104638,3374,None,None,185394,7286,None,None
16,7950000US3603807,3603807,NYC-Manhattan Community District 4 & 5--Chelse...,84079,1574,84079,None,22855,1006,27.2,...,24.7,1.3,100097,3301,None,None,163180,6842,None,None
17,7950000US3603808,3603808,NYC-Manhattan Community District 6--Murray Hil...,79697,1274,79697,None,24747,1254,31.1,...,24.3,1.4,106171,4009,None,None,163472,6954,None,None
18,7950000US3603809,3603809,NYC-Manhattan Community District 3--Chinatown ...,72559,1014,72559,None,30147,1190,41.5,...,8.6,0.7,42223,2730,None,None,76572,2809,None,None
19,7950000US3603810,3603810,NYC-Manhattan Community District 1 & 2--Batter...,78680,1157,78680,None,27684,1024,35.2,...,31.8,1.2,124389,3313,None,None,207472,6508,None,None
20,7950000US3603901,3603901,NYC-Staten Island Community District 3--Totten...,58180,525,58180,None,45527,718,78.3,...,9.8,0.8,86978,2439,None,None,104612,2722,None,None
21,7950000US3603902,3603902,NYC-Staten Island Community District 2--New Sp...,47230,501,47230,None,35173,831,74.5,...,8.3,0.8,74942,2725,None,None,95990,2798,None,None
22,7950000US3603903,3603903,NYC-Staten Island Community District 1--Port R...,60604,732,60604,None,42194,1022,69.6,...,5.6,0.6,60746,2187,None,None,77199,1430,None,None
23,7950000US3604001,3604001,NYC-Brooklyn Community District 1--Greenpoint ...,63282,625,63282,None,30929,921,48.9,...,9.0,0.7,59577,3083,None,None,85861,2309,None,None
24,7950000US3604002,3604002,NYC-Brooklyn Community District 4--Bushwick PU...,45463,569,45463,None,26193,777,57.6,...,2.4,0.4,42197,1648,None,None,59081,1837,None,None
25,7950000US3604003,3604003,NYC-Brooklyn Community District 3--Bedford-Stu...,51545,566,51545,None,28999,750,56.3,...,3.9,0.5,40537,1087,None,None,61565,1660,None,None
26,7950000US3604004,3604004,NYC-Brooklyn Community District 2--Brooklyn He...,57181,668,57181,None,27420,681,48.0,...,16.6,0.8,82127,2161,None,None,124430,3236,None,None
27,7950000US3604005,3604005,"NYC-Brooklyn Community District 6--Park Slope,...",49258,594,49258,None,27109,711,55.0,...,22.8,1.2,104652,2647,None,None,152489,4972,None,None
28,7950000US3604006,3604006,NYC-Brooklyn Community District 8--Crown Heigh...,52552,575,52552,None,26917,835,51.2,...,5.1,0.6,45503,1905,None,None,69159,2240,None,None
29,7950000US3604007,3604007,NYC-Brooklyn Community District 16--Brownsvill...,44256,505,44256,None,28272,884,63.9,...,1.0,0.3,28315,1339,None,None,42814,2000,None,None
30,7950000US3604008,3604008,NYC-Brooklyn Community District 5--East New Yo...,53311,501,53311,None,36175,685,67.9,...,1.6,0.4,36385,854,None,None,49975,1468,None,None
31,7950000US3604009,3604009,NYC-Brooklyn Community District 18--Canarsie &...,68542,536,68542,None,51655,762,75.4,...,5.9,0.5,68145,1842,None,None,85323,1885,None,None
32,7950000US3604010,3604010,NYC-Brooklyn Community District 17--East Flatb...,49378,566,49378,None,33112,692,67.1,...,2.2,0.4,48094,1840,None,None,61131,1648,None,None
33,7950000US3604011,3604011,NYC-Brooklyn Community District 9--Crown Heigh...,41561,483,41561,None,24458,697,58.8,...,2.6,0.5,44329,1914,None,None,62073,2361,None,None
34,7950000US3604012,3604012,NYC-Brooklyn Community District 7--Sunset Park...,45812,524,45812,None,32704,723,71.4,...,5.2,0.5,48232,2123,None,None,70634,2059,None,None
35,7950000US3604013,3604013,NYC-Brooklyn Community District 10--Bay Ridge ...,48394,455,48394,None,29858,675,61.7,...,7.6,0.5,60863,1619,None,None,83435,1895,None,None
36,7950000US3604014,3604014,NYC-Brooklyn Community District 12--Borough Pa...,46425,471,46425,None,34824,647,75.0,...,4.2,0.4,42864,1461,None,None,66441,2058,None,None
37,7950000US3604015,3604015,NYC-Brooklyn Community District 14--Flatbush &...,57115,533,57115,None,36952,793,64.7,...,4.9,0.5,48169,1680,None,None,69462,1812,None,None
38,7950000US3604016,3604016,NYC-Brooklyn Community District 15--Sheepshead...,56619,458,56619,None,38253,629,67.6,...,5.7,0.6,54475,1903,None,None,75231,1846,None,None
39,7950000US3604017,3604017,NYC-Brooklyn Community District 11--Bensonhurs...,63524,590,63524,None,46315,838,72.9,...,4.2,0.4,51165,1108,None,None,69667,1656,None,None
40,7950000US3604018,3604018,NYC-Brooklyn Community District 13--Brighton B...,44585,601,44585,None,27547,695,61.8,...,3.3,0.5,34979,2488,None,None,58346,2864,None,None
41,7950000US3604101,3604101,NYC-Queens Community District 1--Astoria & Lon...,73284,738,73284,None,36813,902,50.2,...,4.6,0.5,56201,1505,None,None,76032,2262,None,None
42,7950000US3604102,3604102,NYC-Queens Community District 3--Jackson Heigh...,54948,662,54948,None,36797,858,67.0,...,2.5,0.4,51083,1254,None,None,65487,1750,None,None
43,7950000US3604103,3604103,"NYC-Queens Community District 7--Flushing, Mur...",86711,833,86711,None,61534,1040,71.0,...,4.7,0.5,52722,1485,None,None,71815,1438,None,None
44,7950000US3604104,3604104,"NYC-Queens Community District 11--Bayside, Dou...",43345,462,43345,None,30863,699,71.2,...,8.9,0.8,78520,2629,None,None,97602,2288,None,None
45,7950000US3604105,3604105,NYC-Queens Community District 13--Queens Villa...,60543,631,60543,None,46382,708,76.6,...,5.7,0.5,78303,1763,None,None,90915,1748,None,None
46,7950000US3604106,3604106,"NYC-Queens Community District 8--Briarwood, Fr...",55308,564,55308,None,37928,910,68.6,...,5.8,0.7,62679,1956,None,None,81266,2273,None,None
47,7950000US3604107,3604107,NYC-Queens Community District 4--Elmhurst & So...,43518,565,43518,None,31028,809,71.3,...,2.2,0.4,44865,1709,None,None,58124,1564,None,None
48,7950000US3604108,3604108,NYC-Queens Community District 6--Forest Hills ...,51518,554,51518,None,27407,866,53.2,...,7.4,0.7,67596,3130,None,None,89315,2982,None,None
49,7950000US3604109,3604109,NYC-Queens Community District 2--Sunnyside & W...,52338,620,52338,None,30066,867,57.4,...,6.7,0.7,60154,2048,None,None,81224,2054,None,None
50,7950000US3604110,3604110,"NYC-Queens Community District 5--Ridgewood, Gl...",61520,635,61520,None,41078,734,66.8,...,4.1,0.4,62873,1923,None,None,77484,1617,None,None
51,7950000US3604111,3604111,NYC-Queens Community District 9--Richmond Hill...,44878,515,44878,None,34045,576,75.9,...,4.7,0.5,62333,1729,None,None,78673,2108,None,None
52,7950000US3604112,3604112,"NYC-Queens Community District 12--Jamaica, Hol...",71300,703,71300,None,52423,845,73.5,...,2.7,0.3,55203,1366,None,None,69589,1294,None,None
53,7950000US3604113,3604113,NYC-Queens Community District 10--Howard Beach...,39536,471,39536,None,32020,695,81.0,...,5.5,0.7,65373,2711,None,None,83438,2533,None,None
54,7950000US3604114,3604114,NYC-Queens Community District 14--Far Rockaway...,40564,629,40564,None,27001,608,66.6,...,4.4,0.8,49451,2326,None,None,70050,2412,None,None

In [ ]:
sql = '''SELECT *
         FROM b_pumas_2016acs1
         WHERE '''
pd.read_sql(sql, db)