# IS 362 - Final Project: GIS + SQLite

To begin, I will import the pandas module and additional modules.

In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plot
from pandas import DataFrame

from pandas import DataFrame
from sqlite3 import Error

# Enable inline plotting
%matplotlib inline

Add the SQLite connection statement.

In [2]:
db = sqlite3.connect("data/nyc_gdb_jan2018.sqlite")

Let's execute the SQL query to join some tables and create a new DataFrame for borough population and housing information.

In [3]:
sql = '''SELECT a.bname AS Borough,
       a_tracts.nta_name AS Neighborhood,
       sum(HD01_S001) AS 'Population',
       sum(HD01_S169) AS 'Housing-Units',
       sum(HD01_S170) AS 'Occupied-Units',
       sum(HD01_S171) AS 'Vacant-Units',
       sum(HD01_S181) AS 'Owner-Occupied',
       sum(HD01_S184) AS 'Renter-Occupied'
       FROM a_tracts, b_tracts_2010census
       JOIN a_boroughs AS a
       ON a_tracts.bcode = a.bcode
       WHERE b_tracts_2010census.GEOID2=a_tracts.tractid
       GROUP BY nta
       ORDER BY a_tracts.bcode, nta_name'''
sql_response = pd.read_sql(sql, db)
sql_response.head()

,Borough,Neighborhood,Population,Housing-Units,Occupied-Units,Vacant-Units,Owner-Occupied,Renter-Occupied
0,Bronx,Allerton-Pelham Gardens,28903,10237,9571,666,4966,4605
1,Bronx,Bedford Park-Fordham North,54415,19518,18473,1045,1007,17466
2,Bronx,Belmont,27378,9675,8967,708,378,8589
3,Bronx,Bronxdale,35538,14495,13886,609,1766,12120
4,Bronx,Claremont-Bathgate,31078,10423,10018,405,489,9529

###### Next, create a new DataFrame which sums occupied and vacant housing units by borough.

In [19]:
cp_resp = sql_response.copy().groupby('Borough').sum()

housing = cp_resp[['Housing-Units', 'Occupied-Units', 'Vacant-Units']]
housing

               Housing-Units  Occupied-Units  Vacant-Units
Borough
Bronx                 511896          483449         28447
Brooklyn             1000293          916856         83437
Manhattan             847090          763846         83244
Queens                835127          780117         55010
Staten Island         176656          165516         11140