# IS 362 - Final Project: GIS + SQLite

To begin, I will import the pandas module and additional modules.

In [3]:
import pandas as pd
import sqlite3

from pandas import DataFrame
from sqlite3 import Error

Add the SQLite connection statement.

In [4]:
db = sqlite3.connect("data/nyc_gdb_jan2018.sqlite")

Then create the SQL query and execute.

In [5]:
sql = '''SELECT
        *
        FROM a_boroughs'''
pd.read_sql(sql, db).head()

,bcode,bname,name,namelsad,geometry
0,36005,Bronx,Bronx,Bronx County,"[ , , �, ,  ,  , L, �, J, �, l, �, ., A, �, ..."
1,36047,Brooklyn,Kings,Kings County,"[ , , �, ,  ,  , , +, �, �, L, �, -, A, , ..."
2,36061,Manhattan,New York,New York County,"[ , , �, ,  ,  , �, }, c, �, , �, -, A, Q, ..."
3,36081,Queens,Queens,Queens County,"[ , , �, ,  ,  , , �, , �, 3, Z, ., A, Z, ..."
4,36085,Staten Island,Richmond,Richmond County,"[ , , �, ,  ,  , �, �, 7, a, �, �, +, A, $, ..."