# IS 362 - Week 8 Assignment

To begin, I will import the pandas, numpy, and matplotlib modules.

In [21]:
import numpy as np
import pandas as pd
import seaborn as sns
import csv
import matplotlib.pyplot as plot
from pandas import DataFrame, Series

# Enable inline plotting
%matplotlib inline

Set some pandas options for controlling output display.

In [2]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

Create the column names Series.

In [8]:
col_names = Series(['Mpg', 
             'Cylinders', 
             'Displacement', 
             'Horsepower', 
             'Weight', 
             'Acceleration', 
             'Model-Year', 
             'Origin', 
             'Car-Name'])

In [9]:
Location = r'D:\Projects\Educational\IS362\week-8\auto-mpg.txt'

mpgfwf = pd.read_fwf(Location, header=None, names=col_names)
mpgfwf

,Mpg,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model-Year,Origin,Car-Name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,"""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,"""buick skylark 320"""
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,"""plymouth satellite"""
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,"""amc rebel sst"""
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,"""ford torino"""
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,"""ford mustang gl"""
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,"""vw pickup"""
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,"""dodge rampage"""
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,"""ford ranger"""
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,"""chevy s-10"""

Then create a copy of the DataFrame.

In [17]:
mpg_cp = mpgfwf.copy()

In [28]:
#mpg_cp.Mpg.unique()
mpg_cp.describe()

,Mpg,Cylinders,Displacement,Weight,Acceleration,Model-Year,Origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [50]:
#Drop rows with '?'
#mpg_cp.Weight.unique()

mpg_cp.iloc[[32]]

,Mpg,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model-Year,Origin,Car-Name
32,25.0,4,98.0,?,2046.0,19.0,71,1,"""ford pinto"""

In [53]:
# create two Series objects to map Origin values
#orig_val1 = pd.Series({"one": 1, "two": 2, "three": 3})
#orig_val2 = pd.Series({1: "a", 2: "b", 3: "c"})
#x

origin_col = pd.Series(mpg_cp.Origin)
origin_col

0      1
1      1
2      1
3      1
4      1
      ..
393    1
394    2
395    1
396    1
397    1
Name: Origin, dtype: int64

In [ ]:
p_count['Count'].plot.bar()
plot.suptitle('Card Count by Position')
plot.ylabel('Count')
plot.xlabel('Position')