# IS 362 - Project 2: Baseball Card Inventory

To begin, I will import the pandas module.

In [1]:
import pandas as pd
from pandas import DataFrame

Set some pandas options for controlling output display.

In [2]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

Next, read the baseball cards CSV file, set column names and index.

In [3]:
floc = r'D:\Projects\Educational\IS362\project-2\data\bbcards.csv'
bb_csv = pd.read_csv(floc)
bb_csv.columns = ['ID', 'Player Name', 'Position', 'Company', 'Set Numbering', 'Set Year', 'Condition', 'Estimated Value', 'Actual Value']
bb_csv.set_index('ID', inplace=True)
bb_csv

,Player Name,Position,Company,Set Numbering,Set Year,Condition,Estimated Value,Actual Value
ID,,,,,,,,
2,Sparky Anderson,MGR,Topps,609,1990,EXCELLENT,NaN,NaN
3,Jose DeLeon,P,Topps,85,1992,EXCELLENT,NaN,NaN
4,Cris Carpenter,P,Topps,147,1992,EXCELLENT,NaN,NaN
5,RJ Reynolds,RF,Score,273,1991,EXCELLENT,NaN,NaN
6,Mike Stanley,C,Topps,587,1989,GOOD,NaN,NaN
...,...,...,...,...,...,...,...,...
194,George Brett,1B-3B,Topps,700,1988,EXCELLENT,NaN,NaN
195,Bobby Bonilla,1B-OF,Topps,681,1988,FAIR,NaN,NaN
196,Graig Nettles,1B-3B,Topps,574,1988,EXCELLENT,NaN,NaN
197,Dale Murphy,OF,Topps,90,1988,EXCELLENT,NaN,NaN
198,Terry Pendleton,3B,Topps,635,1988,GOOD,NaN,NaN

Then create a copy of the baseball card inventory DataFrame.

In [ ]:
bbcards_cp = bb_csv.copy()