# IS 362 - Week 7 Assignment

To begin, I will import the pandas, numpy, and matplotlib modules.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
from pandas import DataFrame, Series

# Enable inline plotting
%matplotlib inline

Set some pandas options for controlling output display.

In [2]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

Next, create the series objects for our dataset.

In [3]:
movies = Series(['The Ritual',
                 'The Post',
                 'Jumanji',
                 'Lady Bird',
                 'Alien',
                 'Titanic',
                 'The Producers'])

#movies = Series(['Movies'] * len(movies_ls), index = movies_ls)

rt_anna = Series({'The Ritual': 4,
                  'The Post': 1,
                  'Jumanji': 5,
                  'Lady Bird': 4,
                  'Alien': 5,
                  'Titanic': 1,
                  'The Producers': 4})

rt_mike = Series({'Alien': 5,
                  'Titanic': 1,
                  'The Producers': 4,
                  'The Ritual': 4,
                  'The Post': 1,
                  'Jumanji': 5,
                  'Lady Bird': 4})

rt_tom = Series({'Titanic': 3,
                 'The Ritual': 2,
                 'The Post': 5,
                 'Jumanji': 1,
                 'Lady Bird': 3})

rt_betty = Series({'Jumanji': 1,
                   'The Ritual': 1,
                   'Titanic': 4,
                   'Alien': 1})

rt_mindy = Series({'Alien': 3,
                   'Titanic': 3,
                   'Lady Bird': 5,
                   'The Ritual': 4})

Create the dataframe for export to CSV.

In [4]:
df = pd.DataFrame(
    {'Anna': rt_anna,
     'Mike': rt_mike,
     'Tom': rt_tom,
     'Betty': rt_betty,
     'Mindy': rt_mindy},
     index=movies)
df

               Anna  Betty  Mike  Mindy  Tom
The Ritual        4    1.0     4    4.0  2.0
The Post          1    NaN     1    NaN  5.0
Jumanji           5    1.0     5    NaN  1.0
Lady Bird         4    NaN     4    5.0  3.0
Alien             5    1.0     5    3.0  NaN
Titanic           1    4.0     1    3.0  3.0
The Producers     4    NaN     4    NaN  NaN

Create a CSV file version of the dataframe and read it.

In [8]:
df.to_csv('movie-ratings.csv',index=True,header=True)

Location = r'D:\Projects\Educational\IS362\week-7\movie-ratings.csv'
# df_csv = pd.read_csv(Location, names=['Anna\'s Ratings', 'AM West On Time', 'Alaska Delayed', 'Alaska On Time'])
df_csv = pd.read_csv(Location, index_col=0)
df_csv

               Anna  Betty  Mike  Mindy  Tom
The Ritual        4    1.0     4    4.0  2.0
The Post          1    NaN     1    NaN  5.0
Jumanji           5    1.0     5    NaN  1.0
Lady Bird         4    NaN     4    5.0  3.0
Alien             5    1.0     5    3.0  NaN
Titanic           1    4.0     1    3.0  3.0
The Producers     4    NaN     4    NaN  NaN

Next, read the movie ratings CSV file.

Then create a copy of the movies DataFrame.

In [9]:
movies_cp = mv_csv.copy()