# IS 362 - Week 7 Assignment

To begin, I will import the pandas, numpy, and matplotlib modules.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
from pandas import DataFrame, Series

# Enable inline plotting
%matplotlib inline

Set some pandas options for controlling output display.

In [2]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

Next, create the series objects for our dataset.

In [3]:
movies = Series(['The Ritual',
                 'The Post',
                 'Jumanji',
                 'Lady Bird',
                 'Alien',
                 'Titanic',
                 'The Producers'])

#movies = Series(['Movies'] * len(movies_ls), index = movies_ls)

rt_anna = Series({'The Ritual': 4,
                  'The Post': 1,
                  'Jumanji': 5,
                  'Lady Bird': 4,
                  'Alien': 5,
                  'Titanic': 1,
                  'The Producers': 4})

rt_mike = Series({'Alien': 5,
                  'Titanic': 1,
                  'The Producers': 4,
                  'The Ritual': 4,
                  'The Post': 1,
                  'Jumanji': 5,
                  'Lady Bird': 4})

rt_tom = Series({'Titanic': 3,
                 'The Ritual': 2,
                 'The Post': 5,
                 'Jumanji': 1,
                 'Lady Bird': 3})

rt_betty = Series({'Jumanji': 1,
                   'The Ritual': 1,
                   'Titanic': 4,
                   'Alien': 1})

rt_mindy = Series({'Alien': 3,
                   'Titanic': 3,
                   'Lady Bird': 5,
                   'The Ritual': 4})

Create the dataframe for export to CSV.

In [5]:
df = pd.DataFrame(
    {'Anna': rt_anna,
     'Mike': rt_mike,
     'Tom': rt_tom,
     'Betty': rt_betty,
     'Mindy': rt_mindy},
     index=movies)
df

               Anna  Betty  Mike  Mindy  Tom
The Ritual        4    1.0     4    4.0  2.0
The Post          1    NaN     1    NaN  5.0
Jumanji           5    1.0     5    NaN  1.0
Lady Bird         4    NaN     4    5.0  3.0
Alien             5    1.0     5    3.0  NaN
Titanic           1    4.0     1    3.0  3.0
The Producers     4    NaN     4    NaN  NaN

Create a CSV file version of the dataframe and read it.

In [ ]:
df.to_csv('movie-ratings.csv',index=True,header=True)

Location = r'D:\Projects\Educational\IS362\week-7\movie-ratings.csv'
# df_csv = pd.read_csv(Location, names=['Anna\'s Ratings', 'AM West On Time', 'Alaska Delayed', 'Alaska On Time'])
df_csv = pd.read_csv(Location)
df_csv

Next, read the airport CSV file.

In [6]:
floc1 = r'D:\Projects\Educational\IS362\week-7\movie-ratings.csv'
mv_csv = pd.read_csv(floc1)
mv_csv

,Unnamed: 0,Anna's Ratings,Betty's Ratings,Mike's Ratings,Mindy's Ratings,Tom's Ratings
0,The Ritual,4,1.0,4,4.0,2.0
1,The Post,1,NaN,1,NaN,5.0
2,Jumanji,5,1.0,5,NaN,1.0
3,Lady Bird,4,NaN,4,5.0,3.0
4,Alien,5,1.0,5,3.0,NaN
5,Titanic,1,4.0,1,3.0,3.0
6,The Producers,4,NaN,4,NaN,NaN

Then create a copy of the airports DataFrame.

In [ ]:
airports_cp = ap_csv.copy()

Then clean up the data be extracting only airport records from the airports CSV.

In [ ]:
airports = airports_cp[(airports_cp.name.str.contains("Station") == False) & (airports_cp.name.str.contains("Rail") == False)]
airports

Next, to reduce the dataset down to eastern airports, extract only airports in GMT -5 and without invalid tzone values.

In [ ]:
extract1 = airports[(airports.tz == -5.0) & (airports.tzone <> '\N')]
extract1

To reduce the data set down to airports in Alaska, extract airports in GMT -9 (tz), without invalid tzone values, and aren't railroad stations.

In [ ]:
extract2 = airports[(airports.tz == -9.0) & (airports.tzone <> '\N') & (airports.name.str.contains("Station") == False) & (airports.name.str.contains("Rail") == False)]
extract2

Now, read the weather CSV file.

In [ ]:
floc2 = r'D:\Projects\Educational\IS362\week-5\data\weather.csv'
w_csv = pd.read_csv(floc2)
w_csv

Create a copy of the weather DataFrame.

In [ ]:
weather = w_csv.copy()

Next, extract weather records for Feb 12, 2013 only.

In [ ]:
extract3 = weather[(weather.year == 2013) & (weather.month == 2) & (weather.day == 12)]
extract3

## Sort the airports by descending latitude and return the first row to find the northern most airport in the US.

In [ ]:
lat_sorted = extract2.sort_values(by='lat', ascending=False)
lat_sorted.head(1)

## Sort the airports by descending longitude and return the first row to find the eastern most airport in the US.

In [ ]:
lon_sorted = extract1.sort_values(by='lon', ascending=False)
lon_sorted.head(1)

## Sort the weather by descending wind speed to return the airport with the highest wind speed on Feb 12, 2013.

In [ ]:
w_sorted = extract3.sort_values(by='wind_speed', ascending=False)
w_sorted.head(1)