In [30]:
# Import libraries and modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
from pandas import DataFrame, Series

# Enable inline plotting
%matplotlib inline

In [59]:
# Create the initial set of days and miles
days = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
miles = [55, 65, 70, 62, 45, 26, 48, 56, 98, 50]
ttl = [0]

In [62]:
# Zip the lists together and create a new data set
TripDataSet1 = list(zip(days,miles))
TripDataSet1
# Zip the lists together and create a new data set
TripDataSet2 = list(zip(days,miles,ttl))
TripDataSet2

[(1, 55, 0)]

In [68]:
# Create the dataframe and label both columns
df1 = pd.DataFrame(data = TripDataSet1, columns=['Days', 'Miles'])
#df1

# Create the dataframe and label both columns
df2 = pd.DataFrame(data = TripDataSet2, columns=['Days', 'Miles', 'Total Miles'])
df2, df1

(   Days  Miles  Total Miles
 0     1     55            0,    Days  Miles
 0     1     55
 1     2     65
 2     3     70
 3     4     62
 4     5     45
 5     6     26
 6     7     48
 7     8     56
 8     9     98
 9    10     50)

In [69]:
# I need to get a count, store it, and slice by offset, right?
# I need to add the values to a list
# I need to store the offset in order to do this 

df1.ix[1].index
#df['Miles'].plot()
df1['Miles']

0    55
1    65
2    70
3    62
4    45
5    26
6    48
7    56
8    98
9    50
Name: Miles, dtype: int64

In [44]:
# I need to reference the miles column somehow
df['Miles'][1]
# how can I get Day 1[0] added to Day 2[1]
first2 = df['Miles'][0] + df['Miles'][1]
first2

120

In [46]:
#for n in df['Miles']
#df['Miles'][n]

In [51]:
# I need to reference the miles column somehow
#df['Miles'][1]

# how can I get Day 1[0] added to Day 2[1]
first2 = df['Miles'][0] + df['Miles'][1]
first2

120

In [48]:
count = 0
for n in df['Miles']:
    count +1;

In [49]:
count

0

In [50]:
len(df['Miles'])

10