# IS 362 - Week 8 Assignment

To begin, I will import the pandas, numpy, and matplotlib modules.

In [6]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plot
from pandas import DataFrame, Series

# Enable inline plotting
%matplotlib inline

Set some pandas options for controlling output display.

In [3]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

Next, create the series objects for our dataset.

Create the dataframe for export to CSV.

               Anna  Betty  Mike  Mindy  Tom
The Ritual        4    1.0     4    4.0  2.0
The Post          1    NaN     1    NaN  5.0
Jumanji           5    1.0     5    NaN  1.0
Lady Bird         4    NaN     4    5.0  3.0
Alien             5    1.0     5    3.0  NaN
Titanic           1    4.0     1    3.0  3.0
The Producers     4    NaN     4    NaN  NaN

Create a CSV file version of the dataframe and read it.

In [5]:
#df.to_csv('auto-mpg.txt',index=True,header=True)

Location = r'D:\Projects\Educational\IS362\week-8\auto-mpg.txt'
# df_csv = pd.read_csv(Location, names=['Anna\'s Ratings', 'AM West On Time', 'Alaska Delayed', 'Alaska On Time'])
df_csv = pd.read_csv(Location, index_col=0)
df_csv

Empty DataFrame
Columns: []
Index: [15.0   8   350.0      165.0      3693.      11.5   70  1	"buick skylark 320", 18.0   8   318.0      150.0      3436.      11.0   70  1	"plymouth satellite", 16.0   8   304.0      150.0      3433.      12.0   70  1	"amc rebel sst", 17.0   8   302.0      140.0      3449.      10.5   70  1	"ford torino", 15.0   8   429.0      198.0      4341.      10.0   70  1	"ford galaxie 500", 14.0   8   454.0      220.0      4354.       9.0   70  1	"chevrolet impala", 14.0   8   440.0      215.0      4312.       8.5   70  1	"plymouth fury iii", 14.0   8   455.0      225.0      4425.      10.0   70  1	"pontiac catalina", 15.0   8   390.0      190.0      3850.       8.5   70  1	"amc ambassador dpl", 15.0   8   383.0      170.0      3563.      10.0   70  1	"dodge challenger se", 14.0   8   340.0      160.0      3609.       8.0   70  1	"plymouth 'cuda 340", 15.0   8   400.0      150.0      3761.       9.5   70  1	"chevrolet monte carlo", 14.0   8   455.0      225.0      3086.      10.0   70  1	"buick estate wagon (sw)", 24.0   4   113.0      95.00      2372.      15.0   70  3	"toyota corona mark ii", 22.0   6   198.0      95.00      2833.      15.5   70  1	"plymouth duster", 18.0   6   199.0      97.00      2774.      15.5   70  1	"amc hornet", 21.0   6   200.0      85.00      2587.      16.0   70  1	"ford maverick", 27.0   4   97.00      88.00      2130.      14.5   70  3	"datsun pl510", 26.0   4   97.00      46.00      1835.      20.5   70  2	"volkswagen 1131 deluxe sedan", 25.0   4   110.0      87.00      2672.      17.5   70  2	"peugeot 504", 24.0   4   107.0      90.00      2430.      14.5   70  2	"audi 100 ls", 25.0   4   104.0      95.00      2375.      17.5   70  2	"saab 99e", 26.0   4   121.0      113.0      2234.      12.5   70  2	"bmw 2002", 21.0   6   199.0      90.00      2648.      15.0   70  1	"amc gremlin", 10.0   8   360.0      215.0      4615.      14.0   70  1	"ford f250", 10.0   8   307.0      200.0      4376.      15.0   70  1	"chevy c20", 11.0   8   318.0      210.0      4382.      13.5   70  1	"dodge d200", 9.0    8   304.0      193.0      4732.      18.5   70  1	"hi 1200d", 27.0   4   97.00      88.00      2130.      14.5   71  3	"datsun pl510", 28.0   4   140.0      90.00      2264.      15.5   71  1	"chevrolet vega 2300", 25.0   4   113.0      95.00      2228.      14.0   71  3	"toyota corona", 25.0   4   98.00      ?          2046.      19.0   71  1	"ford pinto", 19.0   6   232.0      100.0      2634.      13.0   71  1	"amc gremlin", 16.0   6   225.0      105.0      3439.      15.5   71  1	"plymouth satellite custom", 17.0   6   250.0      100.0      3329.      15.5   71  1	"chevrolet chevelle malibu", 19.0   6   250.0      88.00      3302.      15.5   71  1	"ford torino 500", 18.0   6   232.0      100.0      3288.      15.5   71  1	"amc matador", 14.0   8   350.0      165.0      4209.      12.0   71  1	"chevrolet impala", 14.0   8   400.0      175.0      4464.      11.5   71  1	"pontiac catalina brougham", 14.0   8   351.0      153.0      4154.      13.5   71  1	"ford galaxie 500", 14.0   8   318.0      150.0      4096.      13.0   71  1	"plymouth fury iii", 12.0   8   383.0      180.0      4955.      11.5   71  1	"dodge monaco (sw)", 13.0   8   400.0      170.0      4746.      12.0   71  1	"ford country squire (sw)", 13.0   8   400.0      175.0      5140.      12.0   71  1	"pontiac safari (sw)", 18.0   6   258.0      110.0      2962.      13.5   71  1	"amc hornet sportabout (sw)", 22.0   4   140.0      72.00      2408.      19.0   71  1	"chevrolet vega (sw)", 19.0   6   250.0      100.0      3282.      15.0   71  1	"pontiac firebird", 18.0   6   250.0      88.00      3139.      14.5   71  1	"ford mustang", 23.0   4   122.0      86.00      2220.      14.0   71  1	"mercury capri 2000", 28.0   4   116.0      90.00      2123.      14.0   71  2	"opel 1900", 30.0   4   79.00      70.00      2074.      19.5   71  2	"peugeot 304", 30.0   4   88.00      76.00      2065.      14.5   71  2	"fiat 124b", 31.0   4   71.00      65.00      1773.      19.0   71  3	"toyota corolla 1200", 35.0   4   72.00      69.00      1613.      18.0   71  3	"datsun 1200", 27.0   4   97.00      60.00      1834.      19.0   71  2	"volkswagen model 111", 26.0   4   91.00      70.00      1955.      20.5   71  1	"plymouth cricket", 24.0   4   113.0      95.00      2278.      15.5   72  3	"toyota corona hardtop", 25.0   4   97.50      80.00      2126.      17.0   72  1	"dodge colt hardtop", 23.0   4   97.00      54.00      2254.      23.5   72  2	"volkswagen type 3", 20.0   4   140.0      90.00      2408.      19.5   72  1	"chevrolet vega", 21.0   4   122.0      86.00      2226.      16.5   72  1	"ford pinto runabout", 13.0   8   350.0      165.0      4274.      12.0   72  1	"chevrolet impala", 14.0   8   400.0      175.0      4385.      12.0   72  1	"pontiac catalina", 15.0   8   318.0      150.0      4135.      13.5   72  1	"plymouth fury iii", 14.0   8   351.0      153.0      4129.      13.0   72  1	"ford galaxie 500", 17.0   8   304.0      150.0      3672.      11.5   72  1	"amc ambassador sst", 11.0   8   429.0      208.0      4633.      11.0   72  1	"mercury marquis", 13.0   8   350.0      155.0      4502.      13.5   72  1	"buick lesabre custom", 12.0   8   350.0      160.0      4456.      13.5   72  1	"oldsmobile delta 88 royale", 13.0   8   400.0      190.0      4422.      12.5   72  1	"chrysler newport royal", 19.0   3   70.00      97.00      2330.      13.5   72  3	"mazda rx2 coupe", 15.0   8   304.0      150.0      3892.      12.5   72  1	"amc matador (sw)", 13.0   8   307.0      130.0      4098.      14.0   72  1	"chevrolet chevelle concours (sw)", 13.0   8   302.0      140.0      4294.      16.0   72  1	"ford gran torino (sw)", 14.0   8   318.0      150.0      4077.      14.0   72  1	"plymouth satellite custom (sw)", 18.0   4   121.0      112.0      2933.      14.5   72  2	"volvo 145e (sw)", 22.0   4   121.0      76.00      2511.      18.0   72  2	"volkswagen 411 (sw)", 21.0   4   120.0      87.00      2979.      19.5   72  2	"peugeot 504 (sw)", 26.0   4   96.00      69.00      2189.      18.0   72  2	"renault 12 (sw)", 22.0   4   122.0      86.00      2395.      16.0   72  1	"ford pinto (sw)", 28.0   4   97.00      92.00      2288.      17.0   72  3	"datsun 510 (sw)", 23.0   4   120.0      97.00      2506.      14.5   72  3	"toyouta corona mark ii (sw)", 28.0   4   98.00      80.00      2164.      15.0   72  1	"dodge colt (sw)", 27.0   4   97.00      88.00      2100.      16.5   72  3	"toyota corolla 1600 (sw)", 13.0   8   350.0      175.0      4100.      13.0   73  1	"buick century 350", 14.0   8   304.0      150.0      3672.      11.5   73  1	"amc matador", 13.0   8   350.0      145.0      3988.      13.0   73  1	"chevrolet malibu", 14.0   8   302.0      137.0      4042.      14.5   73  1	"ford gran torino", 15.0   8   318.0      150.0      3777.      12.5   73  1	"dodge coronet custom", 12.0   8   429.0      198.0      4952.      11.5   73  1	"mercury marquis brougham", 13.0   8   400.0      150.0      4464.      12.0   73  1	"chevrolet caprice classic", 13.0   8   351.0      158.0      4363.      13.0   73  1	"ford ltd", 14.0   8   318.0      150.0      4237.      14.5   73  1	"plymouth fury gran sedan", 13.0   8   440.0      215.0      4735.      11.0   73  1	"chrysler new yorker brougham", 12.0   8   455.0      225.0      4951.      11.0   73  1	"buick electra 225 custom", 13.0   8   360.0      175.0      3821.      11.0   73  1	"amc ambassador brougham", 18.0   6   225.0      105.0      3121.      16.5   73  1	"plymouth valiant", 16.0   6   250.0      100.0      3278.      18.0   73  1	"chevrolet nova custom", 18.0   6   232.0      100.0      2945.      16.0   73  1	"amc hornet", 18.0   6   250.0      88.00      3021.      16.5   73  1	"ford maverick", ...]

[397 rows x 0 columns]

Next, read the movie ratings CSV file.

Then create a copy of the movies DataFrame.

In [9]:
movies_cp = mv_csv.copy()